<h2 class="text-center" >Applications</h2><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let app of applications">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
              <!-- Display the selected icon -->
            {{ app.applicationName }}
          </h5>
          <div class="text-center">
            <button class="btn btn-outline-primary" (click)="launchApp(app.id)">
              <i class="bi bi-play-circle"></i> Launch
            </button>
            <button class="btn btn-outline-danger" (click)="removeApp(app.id)">
              <i class="bi bi-trash"></i> Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Toast Notification -->
<div class="toast" id="launchToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
  <div class="toast-header">
    <strong class="me-auto">Success</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Application launched successfully!
  </div>
</div>
